@import '../fonts', '../normalize';

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25% 0% 1.25% 0%;
  p{
    color:#0094E7;
    font-size: 150%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: medium;
  }
  div{
    display: flex;
  }
}
.media{
  margin-left: 2%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 200%;
  color:#0094E7;
  span{
    padding-top: 2%;
    
  }
  .sololine{
    padding-left: 25px;
  }
  .photo{
    position: absolute;
  }
}
.text{
  gap: 50%;
}
.phone{
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  gap: 5%;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.burger{
  margin-right: 2%;
}