@import '../fonts', '../normalize';

body{
    text-align: center;
}
.mainpage{
    display: flex;
    flex-direction: column;
}
.firstcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 0% 16% 0% 16%;
    background-image: url("../../assets/img/landing.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1{
        font-family: "Helvetica Now Text W04 Black";
        color:#0094E7;
        font-size: 450%;
    }
    h2{
        font-size: 240%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: regular;
        line-height: 160%;
    }
    button{
        font-size: 150%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: medium;
        color: #FFFFFF;
        background-color: #0094E7;
        border-radius: 5px;
        width: 280px;
        height: 60px;
        line-height: 124%;
        box-shadow:0px 24px 48px 0 rgba(0,0,0,0.16);
    }
}
.title{
    margin-top: 10%;
    color: #0094E7;
    font-size: 48pt;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.secondcon{
    margin-top: 3%;
    color: #0094E7;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    p{
    font-size: 200%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    }
    .services-1, .services-2{
        display: flex;
        justify-content: center;
        gap: 10%
    }
    .services-1 div, .services-2 div{
    width: 300px;
    height: 300px;
    }
}
.thirdcon{
    margin: 3% 3% 0% 3%;
    display: flex;
    gap: 1%;
}
.upfirstcase{
    background-image: url("../../assets/img/human.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    margin-left: 1.5%;
    gap: 1%;
    h4{
        margin: 0% 0% 8% 6%;
        color: white;
        font-size: 200%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    p{
        margin: 0% 0% 8% 0%;
        color:#0094E7;
        font-size: 200%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}
.downfirstcase{
    text-align: left;
    margin-left: 1.5%;
    padding-bottom: 10%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
    h4{
        color: black;
        font-size: 160%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 2%;
        padding-left: 4%;
        padding-top: 4%;
    }
    h5{
        color: #0094E7;
        font-size: 140%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    p{
        color: black;
        font-size: 105%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: regular;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    a{
        color: #0094E7;
        font-size: 130%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 4%;
        padding: 0% 1% 1% 1%;
        border-bottom: 2px solid #0094E7;
    }
}
.upsecondcase{
    background-image: url("../../assets/img/secondimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    margin-left: 1.5%;
    gap: 1%;
    p{
        margin: 0% 0% 5% 6%;
        color:white;
        font-size: 200%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: left;
    }
}
.downsecondcase{
    text-align: left;
    margin-left: 1.5%;
    padding-bottom: 10%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
    h4{
        color: black;
        font-size: 160%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 2%;
        padding-left: 4%;
        padding-top: 4%;
    }
    h5{
        color: #0094E7;
        font-size: 140%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    p{
        color: black;
        font-size: 105%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: regular;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    a{
        color: #0094E7;
        font-size: 130%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 4%;
        padding: 0% 1% 1% 1%;
        border-bottom: 2px solid #0094E7;
    }
}
.upthirdcase{
    background-image: url("../../assets/img/thirdimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    margin-left: 1.5%;
    gap: 1%;
    p{
        margin: 0% 0% 8% 6%;
        color:white;
        font-size: 200%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}
.downthirdcase{
    text-align: left;
    margin-left: 1.5%;
    padding-bottom: 10%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
    h4{
        color: black;
        font-size: 160%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 2%;
        padding-left: 4%;
        padding-top: 4%;
    }
    h5{
        color: #0094E7;
        font-size: 140%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    p{
        color: black;
        font-size: 105%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: regular;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    a{
        color: #0094E7;
        font-size: 130%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 4%;
        padding: 0% 1% 1% 1%;
        border-bottom: 2px solid #0094E7;
    }
}
.fourthcon-1, .fourthcon-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    margin-top: 2%;
    h3{
        color: white;
        font-size: 130%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        background-color: #0094E7;
        margin: 4%;
        padding: 3% 15% 2% 2%;
        border-radius: 2px;
    }
    div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 20em;
        width: 20em;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
    }
    .case-1{
        background-image: url("../../assets/img/human3.png");
    }
    .case-2{
        background-image: url("../../assets/img/velo.png");
    }
    .case-3{
        background-image: url("../../assets/img/human2.png");
    }
    .case-4{
        background-image: url("../../assets/img/target.png");
    }
    .case-5{
        background-image: url("../../assets/img/CMM.png");
    }
    .case-6{
        background-image: url("../../assets/img/site.png");
    }
}
.fifthcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: left;

    .blog-1, .blog-2, .blog-3{
        box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
    }
    h3{
        color: white;
        font-size: 160%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 4%;
        display: flex;
        line-height: 130%;
    }
    p{
        color: #535353;
        font-size: 105%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: regular;
        padding: 4%;
        line-height: 130%;
    }
    div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 26em;
        align-content: flex-end;
    }
}
.fifthcon-1{
    background-image: url("../../assets/img/blog3.png");
    height: 26em;
}
.fifthcon-2{
    background-image: url("../../assets/img/blog2.png");
    height: 26em;
}
.fifthcon-3{
    background-image: url("../../assets/img/blog1.png");
    height: 26em;
}
.sixthcon{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .partners{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 100px;
    }
}
.review{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #0094E7, $alpha: 0.15);
    border-radius: 8px;
    width: 1159px;
    height: 286px;
    &-text{
        margin: 28px 0px 0 29px;
    }
    p, h2{
        color: #000000;
        font-size: 19pt;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: regular;
        line-height: 150%;
        text-align: left;
        letter-spacing: 2%;
    }
    .review__item{
        width: 1159px;
        display: flex;
        align-items: center;
        margin-top: 24px;
        margin-left: 29px;
        gap: 336px;
        &-human{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        &-nav{
            display: flex;
            gap: 80px;
        }
    }
}
.seventhcon{
    margin-top: 174px;
    display: flex;
    background-image: url("../../assets/img/questions-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    .seventhcon__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 145px 755px 43.89px 10%;
        h2{
            color: #0094E7;
            font-size: 36pt;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        p{
            color: #424242;
            font-size: 20pt;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: regular;
            margin-top: 15px;
            margin-bottom: 20px;
            line-height: 150%;
        }
        &-text{
            display: flex;
            flex-direction: column;
        }
        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 540px;
            height: 350px;
            border-radius: 8px;
            box-shadow: 0px 10px 20px rgba(99, 99, 99, 0.25);
            input{
                margin-top: 30px;
                border-bottom: 2px solid #B9B9B9;
                width: 448px;
                padding: 10px;
                font-size: 20pt;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: regular;
                color: #424242;
            }
            input::placeholder {
                color: #0094E7;
                font-size: 20pt;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: regular;
              }
        }
        &-form-button{
            margin-top: 37px;
            background-color: #0094E7;
            border-radius: 6px;
            width: 270px;
            height: 59.11px;
            font-size: 18pt;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            color: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(99, 99, 99, 0.25);
        }
    }
    
}